#menu{
	color:white;
	background-color:red;
	width:25%;
	float:left;
	height:100px;
}
#konten{
	color:white;
	background-color:blue;
	width:50%;
	float:left;
	height:100px;
}
#iklan{
	color:white;
	background-color:black;
	width:25%;
	float:right;
	height:120px;
}
#footer{
	color:white;
	background-color:green;
	width:75%;
	height:20px;
	float:left
}



